# Ignore IDE settings
.vscode/

# Ignore virtual enviroment
env/

# Ignore pycache files
__pycache__/

# Ignore sqlite3 db
*.sqlite3

# Ignore media dir
media/

# Ignore static dir
static/admin/
static/flags/
static/django_extensions/
static/django_tables2/
static/images/
static/css/
static/js/
static/rest_framework

# Ignore htmlcov from coverage
.coverage
.coverage.*
htmlcov/

# ignore env vars
.env

# ignore distribution files
build/
dist/
.eggs
*.egg-info

# Ignore tox cache
.tox/

# Ignore envrc
.envrc
